extends layout
block main
    main.main
        .event
            p.event__text
                | Участвуйте в новом розыгрыше на возможность покупки лимитированной пары
                br
                b Nike CactusJack 3
                br
            svg.liquid-button.button_class
        h1.main__title Новинки
        .container