doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Brilliant Store
        include styles

    body
        include header
        block main

        include footer
        include scripts